# build directories
**/build/*
build/*


# XCode user data
**.pbxuser
**.mode?v?
**.perspectivev?
**.xcuserstate
**.xccheckout
**/xcuserdata/*
**.xcbaseline


.DS_Store
arcLatVedas WatchKit Extension/arcLatVedas WatchKit Extension.entitlements
